<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GDocBackup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <GDocBackup.Properties.Settings>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="BackupDir" serializeAs="String">
        <value />
      </setting>
      <setting name="CallUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DocumentExportFormat" serializeAs="String">
        <value>doc</value>
      </setting>
      <setting name="SpreadsheetExportFormat" serializeAs="String">
        <value>xls</value>
      </setting>
      <setting name="PresentationExportFormat" serializeAs="String">
        <value>ppt</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyExplicit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProxyHost" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyPort" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ProxyAuthMode" serializeAs="String">
        <value>NotAuthenticated</value>
      </setting>
      <setting name="ProxyUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyDirectConnection" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ProxyHostPortSource" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="DisableUpdateCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastUpdateCheck" serializeAs="String">
        <value>2000-01-01</value>
      </setting>
      <setting name="MultiExportEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BypassCertificateChecks" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckForBeta" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DateDelta" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DrawingExportFormat" serializeAs="String">
        <value>pdf</value>
      </setting>
      <setting name="DisableDuplicatedItemWarnings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AppsMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AppsDomain" serializeAs="String">
        <value>dummy.local</value>
      </setting>
      <setting name="AppsOAuthSecret" serializeAs="String">
        <value>FOO</value>
      </setting>
      <setting name="AppsOAuthSecretEncrypted" serializeAs="String">
        <value />
      </setting>
      <setting name="AppsOAuthOnly" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastBackup" serializeAs="String">
        <value />
      </setting>
    
    </GDocBackup.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.22.0" newVersion="2.2.22.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.22.0" newVersion="2.2.22.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
